## NGC-5

```sql
DROP TABLE IF EXISTS customers; -- Delete tabel customers

-- Bikin tabel customers, just in case table didrop
CREATE TABLE customers (
	customer_id SERIAL PRIMARY KEY,
	customer_name VARCHAR(50) NOT NULL,
	city VARCHAR(50) NOT NULL
	
);

DROP TABLE IF EXISTS orders; -- Delete tabel orders

-- Bikin tabel orders, just in case table didrop
CREATE TABLE orders (
	order_id SERIAL PRIMARY KEY,
	customer_id INTEGER REFERENCES customers(customer_id),
	order_date DATE,
	total_amount DECIMAL(10,2)
);

SELECT * FROM customers -- Cetak tabel

SELECT * FROM orders

-- Masukkin data
INSERT INTO customers (customer_name, city)
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago');

INSERT INTO orders (customer_id, order_date, total_amount)
VALUES
	(1, '2022-01-10', 100.00),
	(1, '2022-02-15', 150.00),
	(2, '2022-03-20', 200.00),
	(3, '2022-04-25', 50.00);
	

SELECT customers.customer_name, COUNT(orders.order_id) as total_orders
-- SELECT gk mungkin ngubah data
-- SELECT COUNT di sini ceritanya manggil kolom hasil COUNT yang kemudian dinamai total_orders
FROM orders
LEFT JOIN customers ON orders.customer_id = customers.customer_id
GROUP BY customers.customer_id -- Kalau primary key nggk masalah

-- 'customers.customer_name' mengambil kolom customer_name dari tabel customers
-- 'COUNT(orders.order_id)' menghitung order_id di tabel orders
-- Mau dapetin order_id masing masing customer, sehingga dikelompokkan by customer_id
-- dikelompokkan by customer_id karena kalau namenya ada yg sama dianggap orang yang sama
-- 'FROM orders' bisa dieksekusi karena ada 'LEFT JOIN' di bawahnya (meskipun di orders gk ada
-- customer_name)
-- Yang dicari adalah total_orders sehingga carinya dari tabel orders
-- Berkaitan dengan tujuan query-nya, mau ngapain
```